[submodule "library-sp18"]
	path = library-sp18
	url = git@github.com:Berkeley-CS61B/library-sp18.git
[submodule "lectureCode-sp18"]
	path = lectureCode-sp18
	url = git@github.com:aviatesk/cs61b-sp18-lectureCode.git
