[submodule "library-sp18"]
	path = library-sp18
	url = https://github.com/Berkeley-CS61B/library-sp18.git
[submodule "lectureCode"]
	path = lectureCode
	url = git@github.com:Berkeley-CS61B/lectureCode-sp18.git
